<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
   <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

    <title>To-Do List</title>
</head>
<body>
    <!--Adding Image:-->
    <h1 class="text-5xl font-bold">TO-DO LIST</h1>

    <img src = {{weatherIcon}} >
    <p> {{ weatherText }}</p>
    <p> {{ weatherTemp }}°F</p>
    <h3>{{ datetoday2 }} | <span id="clock"></span></h3>
    {% if mess %}
    <p>{{ mess }}</p>
    {% endif %}
    <a href="/clear">
        <button type='submit'>Clear List</button>
    </a>
    <!-- ADD TASKS -->
    <form action='/addtask' method="POST" enctype="multipart/form-data" class = "text-center">
        <div class="static">
            <input type="text" id="newtask" name='newtask' placeholder="Add a new task..." class="static w-1/2 rounded-md border-black-200 py-1 pe-10 shadow-sm sm:text-sm" required/>
            <span class="inline-block">
                <button class="rounded-md text-sm text-black hover:text-gray-700 focus:relative" type='submit'>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 -mb-1 -ml-8" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                    </svg>
                </button>
            </span>
        </div>
    </form>
    <!-- Show Task List -->
    <div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      {% if l %}
            {% for i in range(l) %}
    <tbody class="divide-y divide-gray-200">
      <tr class="white">
        <td class="text-center whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{ tasklist[i] }}
        </td>
        <td class="text-right whitespace-nowrap px-4 py-2 text-gray-700"><a href="/deltask?deltaskid={{i}}">
                             <button class="inline-block p-3 text-black" title="Delete Product">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                                     <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                                 </svg>
                             </button>
                         </a></td>
      </tr>
    </tbody>
       {% endfor %}
        {% endif %}
  </table>
</div>


    <script type="text/javascript">
        var clockElement = document.getElementById('clock');

        function clock() {
            clockElement.textContent = new Date().toString().slice(15, 24);
        }

        setInterval(clock, 1000);
    </script>

</body>

</html>